<div>
  <h1>Beers</h1>
  {{#each this.beer}}
    <p><strong>{{this.name}}</strong></p>
    <a href='/beers/beer-{{this.id}}'>
      <img src='{{this.image_url}}' alt='' /></a>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
  {{/each}}
</div>